/build/**
/venv/**
__pycache__
.VSCodeCounter/**
/dist/**
*.spec
launcher.exe

#Mod Files
/mods/**

#Factorio files
bin
data
doc-html
*.dat
/saves/**
.lock
*.log
player-data.json
server-adminlist.json
server-id.json
server-whitelist.json
config.ini
scenarios/**
script-output/**
temp/**
built_version.py
tests/mod_test_data.json
