*
!*/
# Git essentials
!.gitignore
!.gitattributes
!/LICENSE

#Documentation
!/README.md
!/CHANGES.md

!*.py
/venv/**

#Mod Files
!/mods/
!/mods/mod-list.json
!/mods/FactorioAccess/**

#Launcher
!/main.py
!/main.spec

#Jaws File
!/Factorio.jkm

#web
!/web/**

!/r/**

.vscode/
mods/FactorioAccess/FA.lnk
