pyautogui
git+https://github.com/Factorio-Access/accessible_output2.git
git+https://github.com/killjoy1221/playsound.git
PyInstaller
pyperclip

fa_launcher_audio @ git+https://github.com/Factorio-Access/launcher-audio.git
